body {
  font-family: "Raleway", sans-serif;
  margin-left: 35px;
  margin-right: 35px;
}
h1 {
  font-size: x-large;
}

p {
  font-size: 15px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header {
  display: flex;
  width: 30%;
  justify-content: space-around;
  padding: 60px 0px 0px;
  outline: none;
}
.reservia {
  width: 130px;
  padding: 40px 0px 0px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.row {
  display: flex;
  height: 50px;
  width: 66.66%;
}
.icone {
  border: solid #f2f2f2;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 50px;
  padding-left: 15px;
}
.location {
  padding-top: 10px;
}

.search {
  padding: 0px 0px 0px 25px;
  height: 48px;
  border: solid 1px #f2f2f2;
}

::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
  opacity: 1;
  font-size: 17px;
}
.submit {
  border: none;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
}
.filtres {
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.eco,
.famil,
.romantique,
.pet {
  display: flex;
  border: solid #f2f2f2 2px;
  border-left: none;
  border-radius: 25px;
  align-items: center;
  height: 48px;
  padding-right: 20px;
}

.txt-filtre {
  font-weight: bold;
  padding-left: 10px;
}

.logo-filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #deebff;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.résultat {
  width: 30%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.i {
  color: #0065fc;
  margin-right: 25px;
  border: #f2f2f2 solid 1px;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 8px;
}
